.card-body {
    background-color: lightslategray;
    text-align: center;
}
.btn-outline-secondary:hover {
    color:black;
    background-color: lightslategray;
    border-color: black;
}
.form-control {
    border: 2px solid black;
}